body {
    margin: 0px;
    margin-block-start: 0px;
    margin-block-end: 0px;
    padding-right: 100px;
}


.page > * {
    margin: 0px 30px 30px 30px;
}

.submitButton {
    width:auto;
    height: 30px;
    border-radius: 30px;
    border: 1px solid black;
}

ul {
    border: 3px solid black;
    border-radius: 3px;
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

li p {
    display: inline-block;
}

#id_collectionListSelect {
    max-height: 100px;
    overflow-y: auto;
    overflow-x: hidden;
}