html {
    background-color: #e1c774;
}
.content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 4fr 1fr;
    border: 1px solid black;
}

.CollectionInfo {
    grid-column-start: 1;
    grid-column-end: 2;
    border: 3px solid black;

}

#id_collectionInfo {
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 100% ; */
}

#id_collectionInfo a {
    text-decoration: underline;
}

.SelectedCollection {
    padding-left: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
    border: 3px solid black;
}

#collectionImages {
    max-width: 800px;
    margin: auto;
}

img.activeThumb {
    opacity: 0.5;
}

img {
    border: 2px solid black;
    border-radius: 10px;
}

.buttonAdd {
    border: 0px black solid;
    margin-top: 100px;
    font-size: 20px;
    text-align: center;
    width: 15em;
    height: 75px;
    border-radius: 8px;
}