

.page > * {
    margin: 10px 30px 30px 30px;
}


ul {
    border: 2px solid black;
    border-radius: 3px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

li p {
    display: inline-block;
}