

.page > * {
    margin: 10px 30px 30px 30px;
}


ul {
    border: 2px solid black;
    border-radius: 3px;
    max-height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}

li {
    display: inline-grid;
    grid-template-columns: 100%;
    justify-content: space-around;
    margin-left: 7%;

}

li p {
    display: inline-block;
}

input {
    width: 75px;
}